
.avatar-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 90px;
}

.header__area {
  height: 90px;
  display: flex;
  align-items: center;
}

.header__area.sticky {
  position: fixed;
  background-color: #fff;
}
